In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({"Age":[23,None,34,19,24,None,34,None,34,None,27,38],"Point":[23,67,None,90,None,34,None,90,80,None,None,75],"Height/m":[1.3,None,1.5,None,1.6,None,1.1,None,0.98,1.05,None,1.2]})
df

     Age  Point  Height/m
0   23.0   23.0      1.30
1    NaN   67.0       NaN
2   34.0    NaN      1.50
3   19.0   90.0       NaN
4   24.0    NaN      1.60
5    NaN   34.0       NaN
6   34.0    NaN      1.10
7    NaN   90.0       NaN
8   34.0   80.0      0.98
9    NaN    NaN      1.05
10  27.0    NaN       NaN
11  38.0   75.0      1.20

In [21]:
df.isnull().sum()

Age         4
Point       5
Height/m    5
dtype: int64

In [25]:
print(f"total empty cells : {df.isnull().sum().sum()}")
print(f"dataframe shape : {df.shape}")
print(f"total cells : {np.product(df.shape)}")

total empty cells : 14
dataframe shape : (12, 3)
total cells : 36

In [28]:
# calculating the percentage of empty cells, in a DataFrame

totalCells = np.product(df.shape)
totalEmptyCells = df.isnull().sum().sum()
percentage_of_empty_cells = (totalEmptyCells/totalCells) * 100

percentage_of_empty_cells

38.88888888888889